@tailwind base;
@tailwind components;
@tailwind utilities;


.body{

  background-image: url("https://www.apple.com/v/macbook-pro-13/m/images/meta/macbook-pro-13_overview__bcsyunk73i2a_og.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
}
.bg-image{


  background-image: url("https://ascii.jp/img/2020/11/11/3118724/l/1889c904fbaeb5aa.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.section_principal{


}